

.card{
    box-sizing: border-box;
    margin-left:5px;
    margin-right:5px;
    float: left;
    width: 270px;
    padding-top: 20px;
}
.p-datatable{
    background-color: palegreen;
}
th{
    background: lightblue;
  border-color: white;
}